<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <mirrors>
        <mirror>
            <id>aliyun</id>
            <mirrorOf>*</mirrorOf>
            <name>阿里云公共仓库</name>
            <url>https://maven.aliyun.com/repository/public</url>
        </mirror>
    </mirrors>

    <!-- omitted xml -->
    <!-- 请妥善保管好您的配置，不要随意分享给他人 -->
    <servers>
        <server>
            <id>coding</id>
            <username>blog-1637132875161</username>
            <password>655633c08bb8d065a4e8ac7ce3c9e871817b24a4</password>
        </server>
    </servers>

    <!--<activeProfiles>
        <activeProfile>nexus</activeProfile>
    </activeProfiles>-->


</settings>